.app-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px; /* Adjust as needed */
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .card-container {
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .modal-content {
    max-width: 600px; /* Adjust modal width if needed */
    margin: 0 auto;
  }
  